.wrap {
  margin: 0 auto;
  padding: 122px 0;
}

.title {
  grid-column: 2;
  text-align: center;
  justify-self: center;
}

.content {
  display: flex;  
  flex-direction: column;
  align-items: center;
}
